swagger: '2.0'
info:
  title: iotmngr
  version: 1.0.0
  contact:
    email: support@theiot.company
    url: https://access.theiot.company
host: access.theiot.company
basePath: /version-test/api/1.1
schemes:
  - https
consumes:
  - application/json
paths:
  /wf/nedapinout:
    post:
      description: Triggers the workflow nedapinout
      parameters:
        - name: nedapinout request body
          in: body
          description: Body of the POST request
          schema:
            $ref: '#/definitions/nedapinoutBody'
      tags:
        - Workflow
      responses:
        '200':
          description: Workflow response
          schema:
            type: object
            properties:
              status:
                type: string
                description: Outcome of the workflow
              response:
                type: object
                properties: {}
        '400':
          description: Workflow failure
          schema:
            type: object
            properties:
              status:
                type: string
                description: Outcome of the workflow
              message:
                type: string
                description: Error message for the workflow
        '401':
          description: Permission denied
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
        '404':
          description: Not found
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
        '405':
          description: Wrong method
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
        '429':
          description: Too many requests
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
        '500':
          description: Internal bug. Please contact REVTEK support with the request that triggers this bug
          schema:
            type: object
            properties:
              code:
                type: string
                description: Error code
              message:
                type: string
                description: Error message for the operation
        '503':
          description: Service Unavailable
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
      security: []
  /wf/PurgeLogs:
    post:
      description: Triggers the workflow PurgeLogs
      parameters: []
      tags:
        - Workflow
      responses:
        '200':
          description: Workflow response
          schema:
            type: object
            properties:
              status:
                type: string
                description: Outcome of the workflow
              response:
                type: object
                properties: {}
        '400':
          description: Workflow failure
          schema:
            type: object
            properties:
              status:
                type: string
                description: Outcome of the workflow
              message:
                type: string
                description: Error message for the workflow
        '401':
          description: Permission denied
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
        '404':
          description: Not found
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
        '405':
          description: Wrong method
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
        '429':
          description: Too many requests
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
        '500':
          description: Internal bug. Please contact REVTEK support with the request that triggers this bug
          schema:
            type: object
            properties:
              code:
                type: string
                description: Error code
              message:
                type: string
                description: Error message for the operation
        '503':
          description: Service Unavailable
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
  /wf/SCHEDULEDVISITORdeletion:
    post:
      description: Triggers the workflow SCHEDULEDVISITORdeletion
      parameters:
        - name: SCHEDULEDVISITORdeletion request body
          in: body
          description: Body of the POST request
          schema:
            $ref: '#/definitions/SCHEDULEDVISITORdeletionBody'
      tags:
        - Workflow
      responses:
        '200':
          description: Workflow response
          schema:
            type: object
            properties:
              status:
                type: string
                description: Outcome of the workflow
              response:
                type: object
                properties: {}
        '400':
          description: Workflow failure
          schema:
            type: object
            properties:
              status:
                type: string
                description: Outcome of the workflow
              message:
                type: string
                description: Error message for the workflow
        '401':
          description: Permission denied
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
        '404':
          description: Not found
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
        '405':
          description: Wrong method
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
        '429':
          description: Too many requests
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
        '500':
          description: Internal bug. Please contact REVTEK support with the request that triggers this bug
          schema:
            type: object
            properties:
              code:
                type: string
                description: Error code
              message:
                type: string
                description: Error message for the operation
        '503':
          description: Service Unavailable
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
  /wf/LinkTokensToDevices:
    post:
      description: Triggers the workflow LinkTokensToDevices
      parameters:
        - name: LinkTokensToDevices request body
          in: body
          description: Body of the POST request
          schema:
            $ref: '#/definitions/LinkTokensToDevicesBody'
      tags:
        - Workflow
      responses:
        '200':
          description: Workflow response
          schema:
            type: object
            properties:
              status:
                type: string
                description: Outcome of the workflow
              response:
                type: object
                properties: {}
        '400':
          description: Workflow failure
          schema:
            type: object
            properties:
              status:
                type: string
                description: Outcome of the workflow
              message:
                type: string
                description: Error message for the workflow
        '401':
          description: Permission denied
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
        '404':
          description: Not found
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
        '405':
          description: Wrong method
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
        '429':
          description: Too many requests
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
        '500':
          description: Internal bug. Please contact REVTEK support with the request that triggers this bug
          schema:
            type: object
            properties:
              code:
                type: string
                description: Error code
              message:
                type: string
                description: Error message for the operation
        '503':
          description: Service Unavailable
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
      security: []
  /wf/test:
    post:
      description: Triggers the workflow test
      parameters:
        - name: test request body
          in: body
          description: Body of the POST request
          schema:
            $ref: '#/definitions/testBody'
      tags:
        - Workflow
      responses:
        '200':
          description: Workflow response
          schema:
            type: object
            properties:
              status:
                type: string
                description: Outcome of the workflow
              response:
                type: object
                properties: {}
        '400':
          description: Workflow failure
          schema:
            type: object
            properties:
              status:
                type: string
                description: Outcome of the workflow
              message:
                type: string
                description: Error message for the workflow
        '401':
          description: Permission denied
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
        '404':
          description: Not found
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
        '405':
          description: Wrong method
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
        '429':
          description: Too many requests
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
        '500':
          description: Internal bug. Please contact REVTEK support with the request that triggers this bug
          schema:
            type: object
            properties:
              code:
                type: string
                description: Error code
              message:
                type: string
                description: Error message for the operation
        '503':
          description: Service Unavailable
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
      security: []
  /wf/tokenaccesslog:
    post:
      description: Triggers the workflow tokenaccesslog
      parameters:
        - name: tokenaccesslog request body
          in: body
          description: Body of the POST request
          schema:
            $ref: '#/definitions/tokenaccesslogBody'
      tags:
        - Workflow
      responses:
        '200':
          description: Workflow response
          schema:
            type: object
            properties:
              status:
                type: string
                description: Outcome of the workflow
              response:
                type: object
                properties: {}
        '400':
          description: Workflow failure
          schema:
            type: object
            properties:
              status:
                type: string
                description: Outcome of the workflow
              message:
                type: string
                description: Error message for the workflow
        '401':
          description: Permission denied
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
        '404':
          description: Not found
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
        '405':
          description: Wrong method
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
        '429':
          description: Too many requests
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
        '500':
          description: Internal bug. Please contact REVTEK support with the request that triggers this bug
          schema:
            type: object
            properties:
              code:
                type: string
                description: Error code
              message:
                type: string
                description: Error message for the operation
        '503':
          description: Service Unavailable
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
      security: []
  /obj/devicegroup/{UniqueID}:
    get:
      description: Retrieve a thing of type devicegroup by unique ID
      tags:
        - Data
      parameters:
        - name: UniqueID
          in: path
          description: Unique ID of the devicegroup to retrieve
          type: string
          required: true
      responses:
        '200':
          description: Retrieved devicegroup
          schema:
            type: object
            properties:
              response:
                $ref: '#/definitions/devicegroup'
        '400':
          description: Database retrieval failure
          schema:
            type: object
            properties:
              status:
                type: string
                description: Error code
              message:
                type: string
                description: Error message for the operation
        '401':
          description: Permission denied
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
        '404':
          description: Not found
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
        '405':
          description: Wrong method
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
        '429':
          description: Too many requests
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
        '500':
          description: Internal bug. Please contact REVTEK support with the request that triggers this bug
          schema:
            type: object
            properties:
              code:
                type: string
                description: Error code
              message:
                type: string
                description: Error message for the operation
        '503':
          description: Service Unavailable
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
    patch:
      description: Modifies a thing of type devicegroup by unique ID
      tags:
        - Data
      parameters:
        - name: UniqueID
          in: path
          description: Unique ID of the devicegroup to modify
          type: string
          required: true
        - name: devicegroup request body
          in: body
          description: Body of the PATCH request
          schema:
            $ref: '#/definitions/devicegroupBody'
      responses:
        '204':
          description: Modified devicegroup
        '400':
          description: Database retrieval failure
          schema:
            type: object
            properties:
              status:
                type: string
                description: Error code
              message:
                type: string
                description: Error message for the operation
        '401':
          description: Permission denied
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
        '404':
          description: Not found
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
        '405':
          description: Wrong method
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
        '429':
          description: Too many requests
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
        '500':
          description: Internal bug. Please contact REVTEK support with the request that triggers this bug
          schema:
            type: object
            properties:
              code:
                type: string
                description: Error code
              message:
                type: string
                description: Error message for the operation
        '503':
          description: Service Unavailable
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
    put:
      description: Replaces a thing of type devicegroup by unique ID
      tags:
        - Data
      parameters:
        - name: UniqueID
          in: path
          description: Unique ID of the devicegroup to replace
          type: string
          required: true
        - name: devicegroup request body
          in: body
          description: Body of the PUT request
          schema:
            $ref: '#/definitions/devicegroupBody'
      responses:
        '204':
          description: Replaced devicegroup
        '400':
          description: Database retrieval failure
          schema:
            type: object
            properties:
              status:
                type: string
                description: Error code
              message:
                type: string
                description: Error message for the operation
        '401':
          description: Permission denied
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
        '404':
          description: Not found
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
        '405':
          description: Wrong method
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
        '429':
          description: Too many requests
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
        '500':
          description: Internal bug. Please contact REVTEK support with the request that triggers this bug
          schema:
            type: object
            properties:
              code:
                type: string
                description: Error code
              message:
                type: string
                description: Error message for the operation
        '503':
          description: Service Unavailable
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
    delete:
      description: Deletes a thing of type devicegroup by unique ID
      tags:
        - Data
      parameters:
        - name: UniqueID
          in: path
          description: Unique ID of the devicegroup to delete
          type: string
          required: true
      responses:
        '204':
          description: Replaced devicegroup
        '400':
          description: Database retrieval failure
          schema:
            type: object
            properties:
              status:
                type: string
                description: Error code
              message:
                type: string
                description: Error message for the operation
        '401':
          description: Permission denied
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
        '404':
          description: Not found
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
        '405':
          description: Wrong method
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
        '429':
          description: Too many requests
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
        '500':
          description: Internal bug. Please contact REVTEK support with the request that triggers this bug
          schema:
            type: object
            properties:
              code:
                type: string
                description: Error code
              message:
                type: string
                description: Error message for the operation
        '503':
          description: Service Unavailable
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
  /obj/devicegroup:
    get:
      description: Retrieve a list of things of type devicegroup with some optional search constraints. Retreives 100 items at most at once.
      tags:
        - Data
      parameters:
        - name: limit
          in: query
          description: Number of items to fetch (maximum is 100)
          type: integer
          format: int32
          default: 50
        - name: cursor
          in: query
          description: Position to start from in the list
          type: integer
          format: int32
          default: 0
        - name: sort_field
          in: query
          description: Field to sort the list on
          type: string
        - name: descending
          in: query
          description: 'Sorting type: descending or ascending'
          type: boolean
        - name: constraints
          in: query
          description: Search constraints, stringified array as described [here](https://manual.bubble.io/core-resources/api/data-api#search-constraints)
          type: string
      responses:
        '200':
          description: Retrieved list of devicegroups
          schema:
            type: object
            properties:
              response:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      $ref: '#/definitions/devicegroup'
                  cursor:
                    type: number
                    format: float
                    description: Rank of the first item in the list
                  count:
                    type: number
                    format: float
                    description: Number of items in the current response. It is the minimum between the actual length of the list and the sent limit (or 100 if you did not specify a limit).
                  remaining:
                    type: number
                    format: float
                    description: Number of remaining items after the current response. Useful to fetch more items.
        '400':
          description: Database retrieval failure
          schema:
            type: object
            properties:
              status:
                type: string
                description: Error code
              message:
                type: string
                description: Error message for the operation
        '401':
          description: Permission denied
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
        '404':
          description: Not found
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
        '405':
          description: Wrong method
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
        '429':
          description: Too many requests
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
        '500':
          description: Internal bug. Please contact REVTEK support with the request that triggers this bug
          schema:
            type: object
            properties:
              code:
                type: string
                description: Error code
              message:
                type: string
                description: Error message for the operation
        '503':
          description: Service Unavailable
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
    post:
      description: Create a new thing of type devicegroup
      tags:
        - Data
      parameters:
        - name: devicegroup request body
          in: body
          description: Body of the POST request
          schema:
            $ref: '#/definitions/devicegroupBody'
      responses:
        '201':
          description: Created one thing of type devicegroup
          schema:
            type: object
            properties:
              status:
                type: string
                description: Success status of the operation
              id:
                type: string
                description: Unique id of the newly created object
        '400':
          description: Database retrieval failure
          schema:
            type: object
            properties:
              status:
                type: string
                description: Error code
              message:
                type: string
                description: Error message for the operation
        '401':
          description: Permission denied
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
        '404':
          description: Not found
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
        '405':
          description: Wrong method
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
        '429':
          description: Too many requests
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
        '500':
          description: Internal bug. Please contact REVTEK support with the request that triggers this bug
          schema:
            type: object
            properties:
              code:
                type: string
                description: Error code
              message:
                type: string
                description: Error message for the operation
        '503':
          description: Service Unavailable
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
  /obj/devices/{UniqueID}:
    get:
      description: Retrieve a thing of type devices by unique ID
      tags:
        - Data
      parameters:
        - name: UniqueID
          in: path
          description: Unique ID of the devices to retrieve
          type: string
          required: true
      responses:
        '200':
          description: Retrieved devices
          schema:
            type: object
            properties:
              response:
                $ref: '#/definitions/devices'
        '400':
          description: Database retrieval failure
          schema:
            type: object
            properties:
              status:
                type: string
                description: Error code
              message:
                type: string
                description: Error message for the operation
        '401':
          description: Permission denied
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
        '404':
          description: Not found
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
        '405':
          description: Wrong method
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
        '429':
          description: Too many requests
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
        '500':
          description: Internal bug. Please contact REVTEK support with the request that triggers this bug
          schema:
            type: object
            properties:
              code:
                type: string
                description: Error code
              message:
                type: string
                description: Error message for the operation
        '503':
          description: Service Unavailable
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
    patch:
      description: Modifies a thing of type devices by unique ID
      tags:
        - Data
      parameters:
        - name: UniqueID
          in: path
          description: Unique ID of the devices to modify
          type: string
          required: true
        - name: devices request body
          in: body
          description: Body of the PATCH request
          schema:
            $ref: '#/definitions/devicesBody'
      responses:
        '204':
          description: Modified devices
        '400':
          description: Database retrieval failure
          schema:
            type: object
            properties:
              status:
                type: string
                description: Error code
              message:
                type: string
                description: Error message for the operation
        '401':
          description: Permission denied
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
        '404':
          description: Not found
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
        '405':
          description: Wrong method
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
        '429':
          description: Too many requests
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
        '500':
          description: Internal bug. Please contact REVTEK support with the request that triggers this bug
          schema:
            type: object
            properties:
              code:
                type: string
                description: Error code
              message:
                type: string
                description: Error message for the operation
        '503':
          description: Service Unavailable
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
    put:
      description: Replaces a thing of type devices by unique ID
      tags:
        - Data
      parameters:
        - name: UniqueID
          in: path
          description: Unique ID of the devices to replace
          type: string
          required: true
        - name: devices request body
          in: body
          description: Body of the PUT request
          schema:
            $ref: '#/definitions/devicesBody'
      responses:
        '204':
          description: Replaced devices
        '400':
          description: Database retrieval failure
          schema:
            type: object
            properties:
              status:
                type: string
                description: Error code
              message:
                type: string
                description: Error message for the operation
        '401':
          description: Permission denied
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
        '404':
          description: Not found
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
        '405':
          description: Wrong method
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
        '429':
          description: Too many requests
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
        '500':
          description: Internal bug. Please contact REVTEK support with the request that triggers this bug
          schema:
            type: object
            properties:
              code:
                type: string
                description: Error code
              message:
                type: string
                description: Error message for the operation
        '503':
          description: Service Unavailable
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
    delete:
      description: Deletes a thing of type devices by unique ID
      tags:
        - Data
      parameters:
        - name: UniqueID
          in: path
          description: Unique ID of the devices to delete
          type: string
          required: true
      responses:
        '204':
          description: Replaced devices
        '400':
          description: Database retrieval failure
          schema:
            type: object
            properties:
              status:
                type: string
                description: Error code
              message:
                type: string
                description: Error message for the operation
        '401':
          description: Permission denied
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
        '404':
          description: Not found
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
        '405':
          description: Wrong method
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
        '429':
          description: Too many requests
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
        '500':
          description: Internal bug. Please contact REVTEK support with the request that triggers this bug
          schema:
            type: object
            properties:
              code:
                type: string
                description: Error code
              message:
                type: string
                description: Error message for the operation
        '503':
          description: Service Unavailable
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
  /obj/devices:
    get:
      description: Retrieve a list of things of type devices with some optional search constraints. Retreives 100 items at most at once.
      tags:
        - Data
      parameters:
        - name: limit
          in: query
          description: Number of items to fetch (maximum is 100)
          type: integer
          format: int32
          default: 50
        - name: cursor
          in: query
          description: Position to start from in the list
          type: integer
          format: int32
          default: 0
        - name: sort_field
          in: query
          description: Field to sort the list on
          type: string
        - name: descending
          in: query
          description: 'Sorting type: descending or ascending'
          type: boolean
        - name: constraints
          in: query
          description: Search constraints, stringified array as described [here](https://manual.bubble.io/core-resources/api/data-api#search-constraints)
          type: string
      responses:
        '200':
          description: Retrieved list of devicess
          schema:
            type: object
            properties:
              response:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      $ref: '#/definitions/devices'
                  cursor:
                    type: number
                    format: float
                    description: Rank of the first item in the list
                  count:
                    type: number
                    format: float
                    description: Number of items in the current response. It is the minimum between the actual length of the list and the sent limit (or 100 if you did not specify a limit).
                  remaining:
                    type: number
                    format: float
                    description: Number of remaining items after the current response. Useful to fetch more items.
        '400':
          description: Database retrieval failure
          schema:
            type: object
            properties:
              status:
                type: string
                description: Error code
              message:
                type: string
                description: Error message for the operation
        '401':
          description: Permission denied
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
        '404':
          description: Not found
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
        '405':
          description: Wrong method
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
        '429':
          description: Too many requests
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
        '500':
          description: Internal bug. Please contact REVTEK support with the request that triggers this bug
          schema:
            type: object
            properties:
              code:
                type: string
                description: Error code
              message:
                type: string
                description: Error message for the operation
        '503':
          description: Service Unavailable
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
    post:
      description: Create a new thing of type devices
      tags:
        - Data
      parameters:
        - name: devices request body
          in: body
          description: Body of the POST request
          schema:
            $ref: '#/definitions/devicesBody'
      responses:
        '201':
          description: Created one thing of type devices
          schema:
            type: object
            properties:
              status:
                type: string
                description: Success status of the operation
              id:
                type: string
                description: Unique id of the newly created object
        '400':
          description: Database retrieval failure
          schema:
            type: object
            properties:
              status:
                type: string
                description: Error code
              message:
                type: string
                description: Error message for the operation
        '401':
          description: Permission denied
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
        '404':
          description: Not found
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
        '405':
          description: Wrong method
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
        '429':
          description: Too many requests
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
        '500':
          description: Internal bug. Please contact REVTEK support with the request that triggers this bug
          schema:
            type: object
            properties:
              code:
                type: string
                description: Error code
              message:
                type: string
                description: Error message for the operation
        '503':
          description: Service Unavailable
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
  /obj/logs/{UniqueID}:
    get:
      description: Retrieve a thing of type logs by unique ID
      tags:
        - Data
      parameters:
        - name: UniqueID
          in: path
          description: Unique ID of the logs to retrieve
          type: string
          required: true
      responses:
        '200':
          description: Retrieved logs
          schema:
            type: object
            properties:
              response:
                $ref: '#/definitions/logs'
        '400':
          description: Database retrieval failure
          schema:
            type: object
            properties:
              status:
                type: string
                description: Error code
              message:
                type: string
                description: Error message for the operation
        '401':
          description: Permission denied
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
        '404':
          description: Not found
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
        '405':
          description: Wrong method
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
        '429':
          description: Too many requests
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
        '500':
          description: Internal bug. Please contact REVTEK support with the request that triggers this bug
          schema:
            type: object
            properties:
              code:
                type: string
                description: Error code
              message:
                type: string
                description: Error message for the operation
        '503':
          description: Service Unavailable
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
    patch:
      description: Modifies a thing of type logs by unique ID
      tags:
        - Data
      parameters:
        - name: UniqueID
          in: path
          description: Unique ID of the logs to modify
          type: string
          required: true
        - name: logs request body
          in: body
          description: Body of the PATCH request
          schema:
            $ref: '#/definitions/logsBody'
      responses:
        '204':
          description: Modified logs
        '400':
          description: Database retrieval failure
          schema:
            type: object
            properties:
              status:
                type: string
                description: Error code
              message:
                type: string
                description: Error message for the operation
        '401':
          description: Permission denied
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
        '404':
          description: Not found
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
        '405':
          description: Wrong method
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
        '429':
          description: Too many requests
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
        '500':
          description: Internal bug. Please contact REVTEK support with the request that triggers this bug
          schema:
            type: object
            properties:
              code:
                type: string
                description: Error code
              message:
                type: string
                description: Error message for the operation
        '503':
          description: Service Unavailable
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
    put:
      description: Replaces a thing of type logs by unique ID
      tags:
        - Data
      parameters:
        - name: UniqueID
          in: path
          description: Unique ID of the logs to replace
          type: string
          required: true
        - name: logs request body
          in: body
          description: Body of the PUT request
          schema:
            $ref: '#/definitions/logsBody'
      responses:
        '204':
          description: Replaced logs
        '400':
          description: Database retrieval failure
          schema:
            type: object
            properties:
              status:
                type: string
                description: Error code
              message:
                type: string
                description: Error message for the operation
        '401':
          description: Permission denied
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
        '404':
          description: Not found
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
        '405':
          description: Wrong method
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
        '429':
          description: Too many requests
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
        '500':
          description: Internal bug. Please contact REVTEK support with the request that triggers this bug
          schema:
            type: object
            properties:
              code:
                type: string
                description: Error code
              message:
                type: string
                description: Error message for the operation
        '503':
          description: Service Unavailable
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
    delete:
      description: Deletes a thing of type logs by unique ID
      tags:
        - Data
      parameters:
        - name: UniqueID
          in: path
          description: Unique ID of the logs to delete
          type: string
          required: true
      responses:
        '204':
          description: Replaced logs
        '400':
          description: Database retrieval failure
          schema:
            type: object
            properties:
              status:
                type: string
                description: Error code
              message:
                type: string
                description: Error message for the operation
        '401':
          description: Permission denied
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
        '404':
          description: Not found
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
        '405':
          description: Wrong method
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
        '429':
          description: Too many requests
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
        '500':
          description: Internal bug. Please contact REVTEK support with the request that triggers this bug
          schema:
            type: object
            properties:
              code:
                type: string
                description: Error code
              message:
                type: string
                description: Error message for the operation
        '503':
          description: Service Unavailable
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
  /obj/logs:
    get:
      description: Retrieve a list of things of type logs with some optional search constraints. Retreives 100 items at most at once.
      tags:
        - Data
      parameters:
        - name: limit
          in: query
          description: Number of items to fetch (maximum is 100)
          type: integer
          format: int32
          default: 50
        - name: cursor
          in: query
          description: Position to start from in the list
          type: integer
          format: int32
          default: 0
        - name: sort_field
          in: query
          description: Field to sort the list on
          type: string
        - name: descending
          in: query
          description: 'Sorting type: descending or ascending'
          type: boolean
        - name: constraints
          in: query
          description: Search constraints, stringified array as described [here](https://manual.bubble.io/core-resources/api/data-api#search-constraints)
          type: string
      responses:
        '200':
          description: Retrieved list of logss
          schema:
            type: object
            properties:
              response:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      $ref: '#/definitions/logs'
                  cursor:
                    type: number
                    format: float
                    description: Rank of the first item in the list
                  count:
                    type: number
                    format: float
                    description: Number of items in the current response. It is the minimum between the actual length of the list and the sent limit (or 100 if you did not specify a limit).
                  remaining:
                    type: number
                    format: float
                    description: Number of remaining items after the current response. Useful to fetch more items.
        '400':
          description: Database retrieval failure
          schema:
            type: object
            properties:
              status:
                type: string
                description: Error code
              message:
                type: string
                description: Error message for the operation
        '401':
          description: Permission denied
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
        '404':
          description: Not found
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
        '405':
          description: Wrong method
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
        '429':
          description: Too many requests
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
        '500':
          description: Internal bug. Please contact REVTEK support with the request that triggers this bug
          schema:
            type: object
            properties:
              code:
                type: string
                description: Error code
              message:
                type: string
                description: Error message for the operation
        '503':
          description: Service Unavailable
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
    post:
      description: Create a new thing of type logs
      tags:
        - Data
      parameters:
        - name: logs request body
          in: body
          description: Body of the POST request
          schema:
            $ref: '#/definitions/logsBody'
      responses:
        '201':
          description: Created one thing of type logs
          schema:
            type: object
            properties:
              status:
                type: string
                description: Success status of the operation
              id:
                type: string
                description: Unique id of the newly created object
        '400':
          description: Database retrieval failure
          schema:
            type: object
            properties:
              status:
                type: string
                description: Error code
              message:
                type: string
                description: Error message for the operation
        '401':
          description: Permission denied
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
        '404':
          description: Not found
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
        '405':
          description: Wrong method
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
        '429':
          description: Too many requests
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
        '500':
          description: Internal bug. Please contact REVTEK support with the request that triggers this bug
          schema:
            type: object
            properties:
              code:
                type: string
                description: Error code
              message:
                type: string
                description: Error message for the operation
        '503':
          description: Service Unavailable
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
  /obj/permissions/{UniqueID}:
    get:
      description: Retrieve a thing of type permissions by unique ID
      tags:
        - Data
      parameters:
        - name: UniqueID
          in: path
          description: Unique ID of the permissions to retrieve
          type: string
          required: true
      responses:
        '200':
          description: Retrieved permissions
          schema:
            type: object
            properties:
              response:
                $ref: '#/definitions/permissions'
        '400':
          description: Database retrieval failure
          schema:
            type: object
            properties:
              status:
                type: string
                description: Error code
              message:
                type: string
                description: Error message for the operation
        '401':
          description: Permission denied
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
        '404':
          description: Not found
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
        '405':
          description: Wrong method
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
        '429':
          description: Too many requests
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
        '500':
          description: Internal bug. Please contact REVTEK support with the request that triggers this bug
          schema:
            type: object
            properties:
              code:
                type: string
                description: Error code
              message:
                type: string
                description: Error message for the operation
        '503':
          description: Service Unavailable
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
    patch:
      description: Modifies a thing of type permissions by unique ID
      tags:
        - Data
      parameters:
        - name: UniqueID
          in: path
          description: Unique ID of the permissions to modify
          type: string
          required: true
        - name: permissions request body
          in: body
          description: Body of the PATCH request
          schema:
            $ref: '#/definitions/permissionsBody'
      responses:
        '204':
          description: Modified permissions
        '400':
          description: Database retrieval failure
          schema:
            type: object
            properties:
              status:
                type: string
                description: Error code
              message:
                type: string
                description: Error message for the operation
        '401':
          description: Permission denied
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
        '404':
          description: Not found
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
        '405':
          description: Wrong method
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
        '429':
          description: Too many requests
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
        '500':
          description: Internal bug. Please contact REVTEK support with the request that triggers this bug
          schema:
            type: object
            properties:
              code:
                type: string
                description: Error code
              message:
                type: string
                description: Error message for the operation
        '503':
          description: Service Unavailable
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
    put:
      description: Replaces a thing of type permissions by unique ID
      tags:
        - Data
      parameters:
        - name: UniqueID
          in: path
          description: Unique ID of the permissions to replace
          type: string
          required: true
        - name: permissions request body
          in: body
          description: Body of the PUT request
          schema:
            $ref: '#/definitions/permissionsBody'
      responses:
        '204':
          description: Replaced permissions
        '400':
          description: Database retrieval failure
          schema:
            type: object
            properties:
              status:
                type: string
                description: Error code
              message:
                type: string
                description: Error message for the operation
        '401':
          description: Permission denied
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
        '404':
          description: Not found
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
        '405':
          description: Wrong method
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
        '429':
          description: Too many requests
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
        '500':
          description: Internal bug. Please contact REVTEK support with the request that triggers this bug
          schema:
            type: object
            properties:
              code:
                type: string
                description: Error code
              message:
                type: string
                description: Error message for the operation
        '503':
          description: Service Unavailable
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
    delete:
      description: Deletes a thing of type permissions by unique ID
      tags:
        - Data
      parameters:
        - name: UniqueID
          in: path
          description: Unique ID of the permissions to delete
          type: string
          required: true
      responses:
        '204':
          description: Replaced permissions
        '400':
          description: Database retrieval failure
          schema:
            type: object
            properties:
              status:
                type: string
                description: Error code
              message:
                type: string
                description: Error message for the operation
        '401':
          description: Permission denied
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
        '404':
          description: Not found
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
        '405':
          description: Wrong method
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
        '429':
          description: Too many requests
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
        '500':
          description: Internal bug. Please contact REVTEK support with the request that triggers this bug
          schema:
            type: object
            properties:
              code:
                type: string
                description: Error code
              message:
                type: string
                description: Error message for the operation
        '503':
          description: Service Unavailable
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
  /obj/permissions:
    get:
      description: Retrieve a list of things of type permissions with some optional search constraints. Retreives 100 items at most at once.
      tags:
        - Data
      parameters:
        - name: limit
          in: query
          description: Number of items to fetch (maximum is 100)
          type: integer
          format: int32
          default: 50
        - name: cursor
          in: query
          description: Position to start from in the list
          type: integer
          format: int32
          default: 0
        - name: sort_field
          in: query
          description: Field to sort the list on
          type: string
        - name: descending
          in: query
          description: 'Sorting type: descending or ascending'
          type: boolean
        - name: constraints
          in: query
          description: Search constraints, stringified array as described [here](https://manual.bubble.io/core-resources/api/data-api#search-constraints)
          type: string
      responses:
        '200':
          description: Retrieved list of permissionss
          schema:
            type: object
            properties:
              response:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      $ref: '#/definitions/permissions'
                  cursor:
                    type: number
                    format: float
                    description: Rank of the first item in the list
                  count:
                    type: number
                    format: float
                    description: Number of items in the current response. It is the minimum between the actual length of the list and the sent limit (or 100 if you did not specify a limit).
                  remaining:
                    type: number
                    format: float
                    description: Number of remaining items after the current response. Useful to fetch more items.
        '400':
          description: Database retrieval failure
          schema:
            type: object
            properties:
              status:
                type: string
                description: Error code
              message:
                type: string
                description: Error message for the operation
        '401':
          description: Permission denied
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
        '404':
          description: Not found
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
        '405':
          description: Wrong method
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
        '429':
          description: Too many requests
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
        '500':
          description: Internal bug. Please contact REVTEK support with the request that triggers this bug
          schema:
            type: object
            properties:
              code:
                type: string
                description: Error code
              message:
                type: string
                description: Error message for the operation
        '503':
          description: Service Unavailable
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
    post:
      description: Create a new thing of type permissions
      tags:
        - Data
      parameters:
        - name: permissions request body
          in: body
          description: Body of the POST request
          schema:
            $ref: '#/definitions/permissionsBody'
      responses:
        '201':
          description: Created one thing of type permissions
          schema:
            type: object
            properties:
              status:
                type: string
                description: Success status of the operation
              id:
                type: string
                description: Unique id of the newly created object
        '400':
          description: Database retrieval failure
          schema:
            type: object
            properties:
              status:
                type: string
                description: Error code
              message:
                type: string
                description: Error message for the operation
        '401':
          description: Permission denied
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
        '404':
          description: Not found
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
        '405':
          description: Wrong method
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
        '429':
          description: Too many requests
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
        '500':
          description: Internal bug. Please contact REVTEK support with the request that triggers this bug
          schema:
            type: object
            properties:
              code:
                type: string
                description: Error code
              message:
                type: string
                description: Error message for the operation
        '503':
          description: Service Unavailable
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
  /obj/registrations/{UniqueID}:
    get:
      description: Retrieve a thing of type registrations by unique ID
      tags:
        - Data
      parameters:
        - name: UniqueID
          in: path
          description: Unique ID of the registrations to retrieve
          type: string
          required: true
      responses:
        '200':
          description: Retrieved registrations
          schema:
            type: object
            properties:
              response:
                $ref: '#/definitions/registrations'
        '400':
          description: Database retrieval failure
          schema:
            type: object
            properties:
              status:
                type: string
                description: Error code
              message:
                type: string
                description: Error message for the operation
        '401':
          description: Permission denied
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
        '404':
          description: Not found
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
        '405':
          description: Wrong method
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
        '429':
          description: Too many requests
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
        '500':
          description: Internal bug. Please contact REVTEK support with the request that triggers this bug
          schema:
            type: object
            properties:
              code:
                type: string
                description: Error code
              message:
                type: string
                description: Error message for the operation
        '503':
          description: Service Unavailable
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
    patch:
      description: Modifies a thing of type registrations by unique ID
      tags:
        - Data
      parameters:
        - name: UniqueID
          in: path
          description: Unique ID of the registrations to modify
          type: string
          required: true
        - name: registrations request body
          in: body
          description: Body of the PATCH request
          schema:
            $ref: '#/definitions/registrationsBody'
      responses:
        '204':
          description: Modified registrations
        '400':
          description: Database retrieval failure
          schema:
            type: object
            properties:
              status:
                type: string
                description: Error code
              message:
                type: string
                description: Error message for the operation
        '401':
          description: Permission denied
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
        '404':
          description: Not found
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
        '405':
          description: Wrong method
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
        '429':
          description: Too many requests
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
        '500':
          description: Internal bug. Please contact REVTEK support with the request that triggers this bug
          schema:
            type: object
            properties:
              code:
                type: string
                description: Error code
              message:
                type: string
                description: Error message for the operation
        '503':
          description: Service Unavailable
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
    put:
      description: Replaces a thing of type registrations by unique ID
      tags:
        - Data
      parameters:
        - name: UniqueID
          in: path
          description: Unique ID of the registrations to replace
          type: string
          required: true
        - name: registrations request body
          in: body
          description: Body of the PUT request
          schema:
            $ref: '#/definitions/registrationsBody'
      responses:
        '204':
          description: Replaced registrations
        '400':
          description: Database retrieval failure
          schema:
            type: object
            properties:
              status:
                type: string
                description: Error code
              message:
                type: string
                description: Error message for the operation
        '401':
          description: Permission denied
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
        '404':
          description: Not found
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
        '405':
          description: Wrong method
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
        '429':
          description: Too many requests
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
        '500':
          description: Internal bug. Please contact REVTEK support with the request that triggers this bug
          schema:
            type: object
            properties:
              code:
                type: string
                description: Error code
              message:
                type: string
                description: Error message for the operation
        '503':
          description: Service Unavailable
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
    delete:
      description: Deletes a thing of type registrations by unique ID
      tags:
        - Data
      parameters:
        - name: UniqueID
          in: path
          description: Unique ID of the registrations to delete
          type: string
          required: true
      responses:
        '204':
          description: Replaced registrations
        '400':
          description: Database retrieval failure
          schema:
            type: object
            properties:
              status:
                type: string
                description: Error code
              message:
                type: string
                description: Error message for the operation
        '401':
          description: Permission denied
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
        '404':
          description: Not found
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
        '405':
          description: Wrong method
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
        '429':
          description: Too many requests
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
        '500':
          description: Internal bug. Please contact REVTEK support with the request that triggers this bug
          schema:
            type: object
            properties:
              code:
                type: string
                description: Error code
              message:
                type: string
                description: Error message for the operation
        '503':
          description: Service Unavailable
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
  /obj/registrations:
    get:
      description: Retrieve a list of things of type registrations with some optional search constraints. Retreives 100 items at most at once.
      tags:
        - Data
      parameters:
        - name: limit
          in: query
          description: Number of items to fetch (maximum is 100)
          type: integer
          format: int32
          default: 50
        - name: cursor
          in: query
          description: Position to start from in the list
          type: integer
          format: int32
          default: 0
        - name: sort_field
          in: query
          description: Field to sort the list on
          type: string
        - name: descending
          in: query
          description: 'Sorting type: descending or ascending'
          type: boolean
        - name: constraints
          in: query
          description: Search constraints, stringified array as described [here](https://manual.bubble.io/core-resources/api/data-api#search-constraints)
          type: string
      responses:
        '200':
          description: Retrieved list of registrationss
          schema:
            type: object
            properties:
              response:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      $ref: '#/definitions/registrations'
                  cursor:
                    type: number
                    format: float
                    description: Rank of the first item in the list
                  count:
                    type: number
                    format: float
                    description: Number of items in the current response. It is the minimum between the actual length of the list and the sent limit (or 100 if you did not specify a limit).
                  remaining:
                    type: number
                    format: float
                    description: Number of remaining items after the current response. Useful to fetch more items.
        '400':
          description: Database retrieval failure
          schema:
            type: object
            properties:
              status:
                type: string
                description: Error code
              message:
                type: string
                description: Error message for the operation
        '401':
          description: Permission denied
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
        '404':
          description: Not found
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
        '405':
          description: Wrong method
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
        '429':
          description: Too many requests
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
        '500':
          description: Internal bug. Please contact REVTEK support with the request that triggers this bug
          schema:
            type: object
            properties:
              code:
                type: string
                description: Error code
              message:
                type: string
                description: Error message for the operation
        '503':
          description: Service Unavailable
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
    post:
      description: Create a new thing of type registrations
      tags:
        - Data
      parameters:
        - name: registrations request body
          in: body
          description: Body of the POST request
          schema:
            $ref: '#/definitions/registrationsBody'
      responses:
        '201':
          description: Created one thing of type registrations
          schema:
            type: object
            properties:
              status:
                type: string
                description: Success status of the operation
              id:
                type: string
                description: Unique id of the newly created object
        '400':
          description: Database retrieval failure
          schema:
            type: object
            properties:
              status:
                type: string
                description: Error code
              message:
                type: string
                description: Error message for the operation
        '401':
          description: Permission denied
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
        '404':
          description: Not found
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
        '405':
          description: Wrong method
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
        '429':
          description: Too many requests
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
        '500':
          description: Internal bug. Please contact REVTEK support with the request that triggers this bug
          schema:
            type: object
            properties:
              code:
                type: string
                description: Error code
              message:
                type: string
                description: Error message for the operation
        '503':
          description: Service Unavailable
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
  /obj/token/{UniqueID}:
    get:
      description: Retrieve a thing of type token by unique ID
      tags:
        - Data
      parameters:
        - name: UniqueID
          in: path
          description: Unique ID of the token to retrieve
          type: string
          required: true
      responses:
        '200':
          description: Retrieved token
          schema:
            type: object
            properties:
              response:
                $ref: '#/definitions/token'
        '400':
          description: Database retrieval failure
          schema:
            type: object
            properties:
              status:
                type: string
                description: Error code
              message:
                type: string
                description: Error message for the operation
        '401':
          description: Permission denied
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
        '404':
          description: Not found
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
        '405':
          description: Wrong method
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
        '429':
          description: Too many requests
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
        '500':
          description: Internal bug. Please contact REVTEK support with the request that triggers this bug
          schema:
            type: object
            properties:
              code:
                type: string
                description: Error code
              message:
                type: string
                description: Error message for the operation
        '503':
          description: Service Unavailable
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
    patch:
      description: Modifies a thing of type token by unique ID
      tags:
        - Data
      parameters:
        - name: UniqueID
          in: path
          description: Unique ID of the token to modify
          type: string
          required: true
        - name: token request body
          in: body
          description: Body of the PATCH request
          schema:
            $ref: '#/definitions/tokenBody'
      responses:
        '204':
          description: Modified token
        '400':
          description: Database retrieval failure
          schema:
            type: object
            properties:
              status:
                type: string
                description: Error code
              message:
                type: string
                description: Error message for the operation
        '401':
          description: Permission denied
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
        '404':
          description: Not found
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
        '405':
          description: Wrong method
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
        '429':
          description: Too many requests
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message for the operation
        '500':
          description: Internal bug. Please contact REVTEK support with the request that triggers this bug
          schema:
            type: object
            properties:
              code:
                type: string
                description: Error code
              message:
[...]
